<div class="container">
  <h2>Manage Orders</h2>

  <!-- Search Input -->
  <mat-form-field appearance="outline">
    <mat-label>Search Orders</mat-label>
    <input matInput [(ngModel)]="searchTerm" (keyup)="applySearchFilter()" placeholder="Search by ProductId, Date">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Order ID Column -->
    <ng-container matColumnDef="SalesID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sales ID </th>
      <td mat-cell *matCellDef="let order"> {{ order.SalesID }} </td>
    </ng-container>

    <!-- Order Date Column -->
    <ng-container matColumnDef="Created_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
      <td mat-cell *matCellDef="let order"> {{ order.Created_date }} </td>
    </ng-container>

    <!-- Client Name Column -->
    <ng-container matColumnDef="ProductId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductId </th>
      <td mat-cell *matCellDef="let order"> {{ order.ProductId }} </td>
    </ng-container>
    <ng-container matColumnDef="ProductName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
      <td mat-cell *matCellDef="let order"> {{ order.ProductName }} </td>
    </ng-container>
 
    <ng-container matColumnDef="customerEmail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Email </th>
      <td mat-cell *matCellDef="let order"> {{ order.customerEmail }} </td>
    </ng-container>
 
    <ng-container matColumnDef="totalOrderItem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Items </th>
      <td mat-cell *matCellDef="let order"> {{ order.totalOrderItem }} </td>
    </ng-container>

    <!-- Payment Status Column -->
     

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let order">
        <button mat-button [matMenuTriggerFor]="menu" color="primary">
          Action <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          
          <button mat-menu-item (click)="removeOrder(order)">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Table Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
    <!-- Table Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>