<nav>
  <div class="nav-container">
    <div class="logo">
      <img src="assets/logo.png" alt="Company Logo">
    </div>
    <div class="nav-links">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/supplier" routerLinkActive="active">Supplier</a>
      <a routerLink="/purchase" routerLinkActive="active">Purchase</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>

      <!-- Orders with Dropdown -->
      <div class="dropdown" (click)="toggleDropdown()">
        <a class="dropdown-toggle">Orders</a>
        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <a routerLink="/addOrders" routerLinkActive="active">Add Orders</a>
          <a routerLink="/manageOrders" routerLinkActive="active">Manage Orders</a>
          
        </div>
      </div>

     
      <div class="user-dropdown" (click)="toggleUserDropdown()">
        <img src="assets/login1.jpg" alt="User Icon" class="user-icon">
        <div class="dropdown-menu" *ngIf="isUserDropdownOpen">
          <a routerLink="/settings" routerLinkActive="active">Settings</a>
          <a routerLink="/add-user" routerLinkActive="active">Add User</a>
          <a routerLink="/logout" routerLinkActive="active">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<hr>

<!-- Display the selected component here -->
<router-outlet></router-outlet>
